* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color:rgb(186, 186, 186);
    padding: 1em;
}

#form {
    margin: 1em;
}

#certificate {
    background-color: gray;
    border: solid 5px black;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

#certificate p {
    margin: 3em;
}