* {
    margin: 0;
    padding: 0;
}

header {
    background-color:rgb(186, 186, 186);
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
}

#form {
    margin: 1em;
}

#img1 {
    width: 18%;
}

.certificate {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 50em;
    height: 30em;
    border: solid 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cert-info p {
    margin: 1em;
    text-align: center;
    font-size: 20px;
}

#cert-info p:first-child {
    font-size: 2em;
    text-transform: uppercase;
}

#name {
    text-decoration: underline;
}

#certifier {
    margin: 1em;
    text-align: center;
}


/*excellent performance*/
.n1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 50em;
    height: 30em;
    color: rgb(255, 255, 255);
    background-image: url("/img/pexels-8730747.jpeg");
    background-color: rgba(255, 255, 255, 0.129);
    background-blend-mode: lighten;
    background-size: cover;
    border: solid 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*terrifying chillness*/
.n2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 50em;
    height: 30em;
    color: rgb(78, 163, 237);
    background-image: url(/img/chillness.png);
    background-color: azure;
    background-size: cover;
    border: solid 10px rgb(114, 189, 254);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*wonderful silence*/
.n3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 50em;
    height: 30em;
    color: gray;
    background-color: white;
    border: solid 10px gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media print {
    header,
    form {
        display: none !important;
    }
    .certificate {
        size: letter;
    }
}