* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color:rgb(186, 186, 186);
    padding: 1em;
}

#form {
    margin: 1em;
}

#certificate {
    background-color: gray;
    width: 50em;
    height: 30em;
    border: solid 10px black;
}

#cert-info {
    margin: 5px;
    text-align: center;
}

#cert-info p {
    margin: 1em;
}

#certify p {
    margin: 10px;

}

.n1 {
    color: blue;
}

.n2 {
    color: red;
}

.n3 {
    color: purple;
}